DISCORD_TOKEN=colle_ton_token_ici
CLIENT_ID=id_de_ton_application
GUILD_ID=id_de_ton_serveur

# Salon où le message de bienvenue est envoyé
WELCOME_CHANNEL_ID=
# Rôle donné automatiquement aux nouveaux membres
AUTO_ROLE_ID=
